# Official Gitleaks workflow from: https://github.com/gitleaks/gitleaks-action
name: Gitleaks Secret Scan

on:
  push:
    branches: [ main, develop, stripe ]
  pull_request:
    branches: [ main, develop ]
  schedule:
    - cron: "0 4 * * *" # run once a day at 4 AM
  workflow_dispatch:

jobs:
  scan:
    name: gitleaks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: gitleaks/gitleaks-action@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          # GITLEAKS_LICENSE: ${{ secrets.GITLEAKS_LICENSE }} # Only required for Organizations, not personal accounts.
        with:
          config-path: .gitleaks.toml
          no-git: false
          verbose: true
          redact: true
